---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blogs" description="Read my thoughts, tutorials, and articles on software engineering and backend development.">
    <h1 class="text-3xl font-bold">Blog</h1>
</BaseLayout>
